.profile-section {
    background-color: #72A0C1;
    min-height: 100vh;
    padding-bottom: 100px;
}

.background-container {
    width: 100vw;
    height: 40vh;
    display: flex;
    overflow: hidden;
}

.background-img {
    object-fit: cover;
    object-position: top;
    width: 100%;
}

.profile-container {
    position: relative;
    width: 80%;
    background-color: white;
    border-radius: 15px;
    margin: -10vh auto;
    padding: 0 20px;
    /* padding-top: 110px; */
    display: flex;
    flex-direction: column;
    
}

.profile-pic-container {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid white;
    margin: auto;
    margin-top: -90px;
    overflow: hidden;
    
}

.profile-pic {
    width: 200%;
    object-fit: cover;
}

.profile-name, .location {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
    margin-top: 20px;
    vertical-align: middle;
    padding: 0;
}

.location {
    font-size: 1.5rem;
    font-weight: normal;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.location-icon {
    margin-right: 5px;
}

.view-all-link {
    font-weight: bold;
    text-decoration: underline;
    margin-right: 20px;
    align-self: flex-end;
}

.profile-top {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 50px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    flex-direction: column;
}

@media (max-width: 768px) {
    .profile-top {
        padding: 0;
    }
}

.badge-container {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
}

.badge {
    width: 100%;
    object-fit: cover;
}

.profile-progress-bar {
    width: 500px;
}

.profile-top__left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
}

.progress-text {
    text-align: center;
    width: 100%;
    font-size: 1.1rem;
}